/* 重置默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    background-color: #33c0e4;
  }
  
  .container {
    display: flex;
    flex-direction: column;    /* 纵向排列 */
    justify-content: center;   /* 主轴居中 */
    align-items: center;       /* 交叉轴居中 */
    background-color: rgb(241, 65, 65);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
  }
  