/* 重置默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 设置页面背景色 */
body {
    font-family: Arial, sans-serif;
    background-color: #23c73e;
}

/* 头部样式 */
header {
    background-color: #e94568;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    display: block; /* 默认是块级元素，可以省略 */
}

/* 主内容区域样式 */
main {
    background-color: rgb(190, 50, 50);
    color: rgb(255, 255, 255);
    padding: 40px;
    margin: 20px auto;
    width: 90%;
    height: 100px;
    text-align: center;
    display: block;
    border: 1px solid rgb(248, 245, 63);
    box-shadow: 20 20 1000px rgba(0,0,0,0.1);
}

/* 页脚样式 */
footer {
    background-color: rgb(97, 204, 236);
    color: rgb(218, 66, 197);
    padding: 10px;
    text-align: center;
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
}
